
html {
    margin: -10px; 
    padding: -10px;
    font-family: 'Montserrat', sans-serif;
}

a{
    text-decoration: none;
    color: #D8E3E7;
}
/* SYTLES FOR CLASSES */ 
.logo{
    font-weight: bold;
    font-size: 40px;
    margin-left: -150px;
}

.nav{
    display: flex;
    background-color: #132C32;
    justify-content: space-around;
    align-items: center;
    width: 1920px; 
    height: 100px;
}

.links{
    display: flex;
    justify-content: space-around;
    width: 500px;
    margin-top: 10px;
}

.firstSection
{
    display: flex;
    background-color: #D8E3E7;
    height: 600px; 
}

.line{
    display:block;
    background-image: linear-gradient(90deg, #51C4D3, #1F6E82);
    height: 10px;
    width: 1920px;
}

.profile{
    display: flex;
    margin-top: 20px;
    margin-left: 160px;
    flex-flow: wrap column;
    justify-content: center;
    width: 600px;
}

.pic{
    border-radius: 500px;
    width: 300px;
    border: 5px solid white;
}

.thinLine{
    background-image: linear-gradient(90deg, #51C4D3, #1F6E82);
    margin-top: 15px;
    height: 3px;
    width: 300px;
}

.myName{
    font-size: 22px;
}

.myCd{
    font-size: 12px;
    margin-left: 20px;
    margin-top: -15px;
}

.social
{
    display: flex;
    justify-content: space-between;
    width: 300px;
}

#mail, #behance, #instagram, #twitter, #linkedin{
    width: 50px;
}

/* MEDIA QUERIES */ 
@media (max-width: 600px)
{
    .nav{
        width: 530px;   
    }

    .logo{
        font-weight: bold;
        font-size: 15px;
        margin-top: 12px;
        margin-left: -25px;
    }

    .links{
        width: 300px;
        margin-top: 10px;
        margin-left: -70px;
    }

    .line{
        width: 530px;
    }

    .firstSection
    {
        flex-direction: column;
        background-color: #D8E3E7;
        height: 800px;
    }

    .profile
    {
        margin-top: 10px;
        margin-left: 100px;
        width: 300px;
    }

    .social{
        width: 300px;
        justify-content: space-between;
        align-items: flex-start;
    }
}
