
body {
    margin: 0px; 
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
}

a{
    text-decoration: none;
    color: #51C4D3;
}

iframe{
    border: none;
    border-radius: 25px;
    width: 300px;
    height: 300px;
}
/* SYTLES FOR CLASSES */ 
.logo{
    font-weight: bold;
    font-size: 40px;
    color: #D8E3E7;
    margin-left: 50px;
}

.nav{
    display: flex;
    background-color: #132C32;
    justify-content: space-between;
    align-items: center;
    width: 100%; 
    height: 100px;
}

.links{
    display: flex;
    width: 50%;
    justify-content: space-around;
    margin-top: 10px;
}

.firstSection
{
    display: flex;
    background-color: #D8E3E7;
    height: 100%; 
    width: 1600;
    border: 1px solid red;
}

.line{
    
    background-image: linear-gradient(90deg, #51C4D3, #1F6E82);
    height: 10px;
    width: 100%;
}

.profile{
    display: flex;
    margin-top: 20px;
    margin-left: 160px;
    flex-flow: wrap column;
    justify-content: center;
    width: 600px;
}

.pic{
    border-radius: 500px;
    width: 300px;
    border: 5px solid white;
}

.thinLine{
    background-image: linear-gradient(90deg, #51C4D3, #1F6E82);
    margin-top: 15px;
    height: 3px;
    width: 300px;
}

.myName{
    font-size: 22px;
}

.myCd{
    font-size: 12px;
    margin-left: 20px;
    margin-top: -15px;
}

.social
{
    display: flex;
    justify-content: space-between;
    width: 300px;
}

#mail, #behance, #instagram, #twitter, #linkedin{
    width: 50px;
}

.bio{
    width: 100%;
    margin-bottom: 100px;
}

.bio > h1 {
    font-size: 50px;
}

.bio > p {
    margin-top: -25px;
    margin-right: 100px;
    font-size: 35px;
    width: 90%;
}

.sectionTwo{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 100px;
    background-image: linear-gradient(90deg, #51C4D3, #1F6E82);
    height: 800px;
}

.sectionTwoText{
    display: flex; 
    flex-direction: column;
    justify-content: center;
    margin-left: -250px;
    margin-top: -500px;
}

.sectionTwoText > h2{
    margin-top: 100px;
    font-size: 50px;
}

.sectionTwoText > p{
    font-size: 20px;
    width: 300px;
    margin-top: -30px;
    margin-bottom: 100px;
}

.containerSketches{
    display: grid;
    height: 620px;
    grid-template-columns: 300px 300px 300px ;
    grid-template-rows: 300px 300px 300px;
    row-gap: 10px;
    column-gap: 20px;
    border: 1px solid red;
    margin-top: 10px;
    margin-left: 100px;
}

/* MEDIA QUERIES */ 

/* iPhone x */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px){ 
    
    .nav{
        width: 100%;
    }
    
    .links{
        width: 50%;
    }

    .logo{
        font-size: 1rem;
        margin-left: 50px;
    }

    .profile{
        width:100%;
    }
      
}

/*iPad*/
@media only screen 
  and (min-device-width: 812px) 
  and (max-device-width: 1023px){
    
    .nav{
        width: 100%;
    }

    .links{
        border: 1px solid red;
        width: 50%;
    }

    .logo{
        width: 200px;
        font-size: 1.25rem;
        margin-left: 50px;
        margin-top: 10px;
    }
}

/* Laptops*/
@media screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1600px){ 
    
}



